---
import { getEntry, render } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import MainGridLayout from "../layouts/MainGridLayout.astro";
import FriendCard from "../components/FriendCard.astro";

const membersPost = await getEntry("spec", "members");

if (!membersPost) {
	throw new Error("Members page content not found");
}

const { Content } = await render(membersPost);
---
<MainGridLayout title={i18n(I18nKey.members)} description={i18n(I18nKey.members)}>
    <!-- 显示 members.md 中的介绍文字 -->
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <Markdown class="mt-2">
                <Content />
            </Markdown>
        </div>
    </div>
    
    <!-- 成员卡片网格 -->
    <h2 class="text-2xl font-bold mb-6 flex items-center gap-2 section-title" style="color: var(--primary); margin-top: 2rem;">
        <span>核心成员</span>
    </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-8">
        <FriendCard
            name="冰糖教主"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAOqah2XOV59ieoNhXNLxf874PZ2GqoAAi0VaxsNVulUddIRh9Q4T_UBAAMCAAN4AAM7BA.png"
            description="飞屋创始人"
            url="https://space.bilibili.com/397168660"
            type="contributor"
        />
        <FriendCard
            name="流星lihr"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAPIaiFP-xJPgfa5Fc28lPNraTH3pd4AAtcNaxsbpBBVxeZh4I3QE-4BAAMCAAN3AAM7BA.png"
            description="飞屋工作室室长"
            url="https://b23.tv/u7wzs3U"
            type="contributor"
        />
        <FriendCard
            name="豹豹"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAOtah7TzQmk9QI5uKUSdLPnS-Bt0LgAAg4RaxsNVvFUViuh72rzpYEBAAMCAAN4AAM7BA.png"
            description="先锋执事长"
            url="https://space.bilibili.com/1632252296"
            type="contributor"
        />
        <FriendCard
            name="风云"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAPBaiArnLcedhf25W5wokDgsaca0ogAAuUPaxsbpAABVdbaC2vYJH54AQADAgADdwADOwQ.png"
            description="教主秘书"
            url=" https://b23.tv/pMdygiQ"
            type="contributor"
        />
        <FriendCard
            name="旭烨"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAO8ah7bnwxDt1gTTHf_0ezj0PA87YoAAiMRaxsNVvFUcWF8crxagBUBAAMCAAN4AAM7BA.png"
            description="第一执行官"
            url="https://b23.tv/uyanHgy"
            type="contributor"
        />
        <FriendCard
            name="作业咪"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAPLaiFU_DUSf5j77I-jg8vB-qutnVgAAucNaxsbpBBV6qheNpkMubcBAAMCAAN5AAM7BA.png"
            description="飞屋吉祥物设计者"
            url="https://space.bilibili.com/512905545"
            type="contributor"
        />
        <FriendCard
            name="墨鸽"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAPEaiAw3esFgW3aOeux8uYqUOgK4j0AAvIPaxsbpAABVTrp0zCXJ4oXAQADAgADeAADOwQ.png"
            description=" "
            url="https://b23.tv/cd6mks2"
            type="contributor"
        />
        <FriendCard
            name="饼干鱼_BF"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAO7ah7ZYrIC6PeiAqyQlbKJNFrlRDsAAiIRaxsNVvFUWIc1I4GcwikBAAMCAAN4AAM7BA.png"
            description=" "
            url="https://b23.tv/iZDAkOV"
            type="contributor"
        />
        <FriendCard
            name="琳梦SHC"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAO1ah7X0D294JJYlCVQ9GYg-T6gbfYAAh0RaxsNVvFUxYmKIAGYS8wBAAMCAAN3AAM7BA.png"
            description=" "
            url="https://b23.tv/NIOPyYb"
            type="contributor"
        />
    </div>
    <h2 class="text-2xl font-bold mb-6 flex items-center gap-2 section-title" style="color: var(--primary); margin-top: 2rem;">
        <span>正式成员Pro</span>
    </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-8">
        <FriendCard
            name="伍波"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAO-ah7hhxuVOM_AE_Zs3teCQX-RwUkAAuwPaxsNVvlUXxRAt60FNbEBAAMCAAN5AAM7BA.png"
            description=" "
            url="https://b23.tv/Ufo1fQB"
            type="contributor"
        />
        <FriendCard
            name="南星"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAOwah7WV-GwXFNhrV-dwL_Spd8ujfoAAhMRaxsNVvFUXek26oAwZzMBAAMCAANtAAM7BA.png"
            description=" "
            url="https://space.bilibili.com/3546794466215995"
            type="contributor"
        />
        <FriendCard
            name="烤猫"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAPKaiFSrnQobBg7OJxICBJtyfo11qYAAt8NaxsbpBBVqXK-dr6C-fQBAAMCAAN3AAM7BA.png"
            description=" "
            url=""
            type="contributor"
        />
        <FriendCard
            name="可叫ZV"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAPHaiFPrxVDPkfSzdYFmvac0DhI9PYAAtYNaxsbpBBVPVCwL2dyn5cBAAMCAAN5AAM7BA.png"
            description=" "
            url="https://b23.tv/IhEii2D"
            type="contributor"
        />
        <FriendCard
            name="七平_方米"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAPGaiFPgY8v5NuPz8nt-23tAR6FVeIAAtUNaxsbpBBV2CPDCfW2ckMBAAMCAAN5AAM7BA.png"
            description=" "
            url="https://b23.tv/vs4tyQi"
            type="contributor"
        />
        <FriendCard
            name="贝尔伊万"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAOxah7WdnrYdRGtNxmJEidoWdTwnOEAAhQRaxsNVvFUrJo-64_RNOIBAAMCAAN4AAM7BA.png"
            description=" "
            url="https://b23.tv/0vOWcEX"
            type="contributor"
        />
        <FriendCard
            name="粉汐"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAO_ah7wB0Ba96YaGEEgn7qqX3WS8MQAAh8QaxsNVvlUKAXYqkehLNsBAAMCAAN5AAM7BA.png"
            description=" "
            url="https://b23.tv/nCgCTTc"
            type="contributor"
        />
    </div>
    <h2 class="text-2xl font-bold mb-6 flex items-center gap-2 section-title" style="color: var(--primary); margin-top: 2rem;">
        <span>正式成员</span>
    </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-8">
        <FriendCard
            name="饭桌"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAOrah2bfkG0oaCfbeJLaF27M40MrRsAAjEVaxsNVulU2sT2iOuFm5kBAAMCAANtAAM7BA.png"
            description="飞屋工作室官网站长"
            url="https://fanzhuo.xyz/"
            type="contributor"
        />
        <FriendCard
            name="桉铭_cat"
            avatar="https://s21.ax1x.com/2025/09/06/pV28rXd.jpg"
            description=" "
            url="https://b23.tv/krJUeAs"
            type="contributor"
        />
        <FriendCard
            name="阿联"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAOvah7U7qmdHld-1iQgB0NEghZqgWcAAhERaxsNVvFUKj-K9qoqDPEBAAMCAAN5AAM7BA.png"
            description=" "
            url="https://b23.tv/wqHn2gv"
            type="contributor"
        />
        <FriendCard
            name="法兰卡"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAO4ah7YiWMJds1i_hN3CG2TjWT52FIAAh8RaxsNVvFUHnQEC8hfx70BAAMCAAN4AAM7BA.png"
            description=" "
            url="https://b23.tv/elwa5pV"
            type="contributor"
        />
        <FriendCard
            name="玉米"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAO0ah7XWkwwQGrx7tDqmGx5YnaFwdMAAhwRaxsNVvFUIMIDw_HK2ksBAAMCAAN5AAM7BA.png"
            description=" "
            url="https://b23.tv/JbdIgl2"
            type="contributor"
        />
        <FriendCard
            name="犯困森"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAO5ah7Y1fuMe15qsyqMSlOKpwXJ7DUAAiARaxsNVvFUL-IU-_UQ1sYBAAMCAAN5AAM7BA.png"
            description=" "
            url="https://space.bilibili.com/3546632628996901"
            type="contributor"
        />
        <FriendCard
            name="来一壶玖"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAO6ah7ZMMmi5yJRJ0ESJVn2_QM9rDAAAiERaxsNVvFUtNZ7oKYvqyEBAAMCAAN4AAM7BA.png"
            description=" "
            url="https://b23.tv/CC8SgbH"
            type="contributor"
        />
        <FriendCard
            name="电子凉茶_HARLEY"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAPAaiAjXoXKSXc-_vPJ5TH5UZpMHQwAAtoPaxsbpAABVcrI-iG3aFKVAQADAgADdwADOwQ.png"
            description=" "
            url="https://b23.tv/sir5wVq"
            type="contributor"
        />
        <FriendCard
            name="混凝土"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAOsah7TRFOYkiCWwsMWu__Kcl9oKWYAAgwRaxsNVvFUp1-PNJHR8WkBAAMCAAN5AAM7BA.png"
            description=" "
            url="https://b23.tv/9vSujqF"
            type="contributor"
        />
        <FriendCard
            name="灵儿"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAOyah7W4HTSvHfTu01tsDdnM4DitRoAAhURaxsNVvFUZORYNvP_is8BAAMCAAN5AAM7BA.png"
            description=" "
            url=""
            type="contributor"
        />
        <FriendCard
            name="钢管"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAOuah7Ua_6V2bCLx1gYVtCuEozJIqoAAg8RaxsNVvFUsLMu5FXY4X4BAAMCAAN4AAM7BA.png"
            description=" "
            url="https://space.bilibili.com/3546846093904156"
            type="contributor"
        />
        <FriendCard
            name="汉堡"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAOzah7XME9vgx4L_cRHbgvwOUhKlwUAAhsRaxsNVvFU3MsbtEHzXD0BAAMCAAN5AAM7BA.png"
            description=" "
            url="https://b23.tv/aFdeHPj"
            type="contributor"
        />
        <FriendCard
            name="KyleClinton"
            avatar=""
            description=" "
            url="https://space.bilibili.com/1142370207"
            type="contributor"
        />
        <FriendCard
            name="堪子"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAO9ah7hMub5s_B28EsgnDsJMHWRJkYAAusPaxsNVvlUpnK0rNCGQ5ABAAMCAAN4AAM7BA.png"
            description=" "
            url="https://b23.tv/J62Xk6a"
            type="contributor"
        />
        <FriendCard
            name="在下白琳译"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAPFaiAxDuPQ2CHvb8fhSbk0YJCc5AQAAvQPaxsbpAABVb6hfnWmd4h2AQADAgADdwADOwQ.png"
            description=" "
            url="https://b23.tv/iF2q3Lf"
            type="contributor"
        />
        <FriendCard
            name="太极"
            avatar="https://image.fanzhuo.xyz/file/AgACAgUAAyEGAASKws10AAPJaiFR32jAGP_Bgm2hasWcS7i1MAsAAt0NaxsbpBBVnnuy0AMjhW0BAAMCAAN3AAM7BA.png"
            description=" "
            url="https://b23.tv/WHHtUFV"
            type="contributor"
        />
    </div>
</MainGridLayout>